:root {
  --page-bg: #0B2434;
  --game-bg: #F5F5F5;
  --text: 2B283A;
  --rules: #4A4E74;
  --die-frozen: #59E391;
  --button: #5035FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--text);
}

canvas {
  position: fixed;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--page-bg);
  min-height: 100vh;
}

.instant-win-button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min-content;
  text-align: center;
  background-color: var(--game-bg);
  margin: 30px;
  padding: 30px;
  border-radius: 10px;
}

h1 {
  font-size: 2rem;
}

.rules, .hint {
  max-width: 500px;
}

.rules {
  font-weight: 600;
}

.hint {
  color: var(--rules);
}

.dice {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

.die {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  box-shadow: 0 1px 2px 0.5px rgba(0, 0, 0, .15);
  border-radius: 5px;
  transition: 300ms;
}

.die, .roll-button {
  cursor: pointer;
}

.die.frozen {
  background-color: var(--die-frozen);
  transition: 200ms;
}

.roll-button {
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: var(--button);
  font-size: 1rem;
}

@media all and (max-width: 600px) {
  h1 { font-size: 1.8rem; }

  .rules {
    font-weight: 500;
    font-size: 0.95rem;
  }

  .hint { display: none; }

  .game {
    padding: 15px;
  }

  .dice {
    gap: 5px;
  }

  .die {
    width: 40px;
    height: 40px;
    font-size: 1.4rem;
    box-shadow: 0 1px 1.5px 0.5px rgba(0, 0, 0, .15);
  }
}

@media all and (max-width: 400px) {
  h1 { font-size: 1.6rem; }

  .rules { font-size: 0.85rem; }

  .dice {
    gap: 2px;
  }

  .die {
    width: 35px;
    height: 35px;
    font-size: 1.2rem;
    box-shadow: 0 0.5px 1px 0.4px rgba(0, 0, 0, .15);
  }
}